<div class="card">
    <h5 class="card-header">Employee Details</h5>
    <div class="card-body">
        <h5 class="card-title">Details of <b>{{employeeDetail.name}}</b></h5>
        <table class="table" style="text-align:left;">
            <tr>
                <td>ID</td>
                <td>{{employeeDetail.id}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{employeeDetail.name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{employeeDetail.email}}</td>
            </tr>
            <tr>
                <td>Salary</td>
                <td>{{employeeDetail.salary }}</td>
            </tr>

        </table>
    </div>

</div>
